{% extends 'base.html.twig' %}

{% block title %}My Cart Beauty Shop{% endblock %}

{% block content %}
    <h1>My cart</h1>
    Here your shopping cart.


    {% if cart|length > 0 %}
    <table class="table mt-3">
        <thead>
        <tr>

            <th scope="col">Product</th>
            <th scope="col"></th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
            <th scope="col">Total</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% set total = null %}
        {% for product in cart %}

        <tr>
            <th>
                <img src="/uploads/{{ product.product.illustration }}" alt="{{ product.product.name }}" class=" img-cart">

            </th>
            <td> {{ product.product.name }} <br>
              <small>{{ product.product.subtitle }}</small>
            </td>
            <td>
                <a href="{{ path('decrease_to_cart',{'id':product.product.id}) }}">
                <img src="{{ asset('assets/img/minus.png') }}" height="12px" alt="minus item">
                </a>
                x {{ product.quantity }}
                <a href="{{ path('add_to_cart',{'id':product.product.id}) }}">
                <img src="{{ asset('assets/img/add.png') }}" height="10px" alt="add item">
                </a>
            </td>
            <td>{{ (product.product.price /100 ) | number_format(2)}}€</td>
            <td>{{ ((product.product.price*product.quantity) /100 ) | number_format(2)}}€</td>
            <td><a href="{{ path('delete_to_cart',{'id':product.product.id}) }}">
                     <img src="{{ asset('assets/img/delete.png') }}" height="20px" alt="delete my item">
                </a>
            </td>
        </tr>
            {% set total = total + (product.product.price*product.quantity) %}
        {% endfor %}

        </tbody>
    </table>
    <div class="text-right mb-5">
       <b>Number of item:</b> {{ cart|length }}<br/>
       <b>Total:</b>{{ (total /100 ) | number_format(2)}}€
        <a href="{{ path('order') }}" class="btn btn-success btn-block mt-3">Validate</a>
    </div>
    {% else %}
        <hr>
        <h4>Your cart is empty.</h4>
    {% endif %}
{% endblock %}
