{% extends 'base.html.twig' %}

{% block title %}My order- Beauty Shop{% endblock %}
{% block content %}

    <h2>My order </h2><span class="badge badge-secondary">{{ order.reference }}</span><br>

    <a href="{{ path('account_order') }}">Return</a> <br/>
    <hr><strong></strong>
    <strong>Order Status : </strong>
    {% if order.state == 1 %}
        Paiement accepté
    {% elseif order.state == 2 %}
        Préparation en cours
    {% elseif order.state == 3 %}
        Livraison en cours
    {% endif %}
    <br/>

    <strong>Date: </strong>{{ order.createdAt | date('d/m/Y') }}<br>
    <strong>Order Reference: </strong><small>{{ order.reference }}</small><br>
    <strong>Carrier: </strong>{{ order.carrierName }}<br>
    <hr>
    <strong>Details</strong>

    <table class="table mt-4">
        <thead>
        <tr>
            <th scope="col">Product</th>
            <th scope="col">Quantity</th>
            <th scope="col">Unit Price</th>
            <th scope="col">Total</th>
        </tr>
        </thead>
        <tbody>
        {% for product in order.orderDetails %}
        <tr>

            <td>{{ product.product }}</td>
            <td>x {{ product.quantity }}</td>
            <td>{{(product.price /100) |number_format(2) }}€</td>
            <td>{{(product.total /100) |number_format(2) }}€</td>
        </tr>

        {% endfor %}
        </tbody>
    </table>
<div class="text-right">
    <strong>Sub-Total:</strong>{{(order.getTotal /100) |number_format(2) }}€<br>
    <strong>Delivery: </strong>{{(order.carrierPrice /100) |number_format(2) }}€<br>
    <strong>Total:</strong>{{((order.carrierPrice + order.getTotal)/100)|number_format(2)  }}€
</div>
{% endblock %}
